<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="css/mini-default.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="container">
            <h2 th:text="'What'" />
            <p th:text="'Hello, ' + ${name} + '!'" />
            <p th:text="'Found: ' + ${user} + '!'" />
            <p th:text="'special: ' + ${special} + '!'" />
        </div>
    </body>
</html>
