<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="css/mini-default.css" rel="stylesheet" type="text/css" />
    </head>

    <body>

        <div class="container">
            <h2 th:text="'Dashboard'" />
            <div class="column" >
                <p th:text="'Hello, ' + ${model.userName} + '!'" />
                <p>All done?</p>
            </div>
        </div>
    </body>
</html>
